@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
}

.draggable {
  background-color: lightblue;
  border: 2px solid blue;
  cursor: grab;
  position: relative;
}

.dragging {
  opacity: 0.5; /* Style the element while dragging */
}
.ghost {
  position: absolute;
  background-color: lightgray;
  border: 2px dashed gray;
  pointer-events: none; /* Make sure the ghost does not interfere with dragging */
}
